<section class="content-header">
  <h1>
    Data Tables
    <small>advanced tables</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#">Tables</a></li>
    <li class="active">Data tables</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Hover Data Table</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal" (click)="setAddData()">添加</button>
          <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>id</th>
              <th>用户名</th>
              <th>密码</th>
              <th>创建时间</th>
              <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor = 'let user of users;let i = index'>
              <td>{{i+1}}</td>
              <td>{{user.userName}}</td>
              <td>{{user.password}}</td>
              <td>{{user.careateTime}}</td>
              <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal" (click)="showEditUser(user)">编辑</button>
                <button style="margin-left:30px" type="button" class="btn btn-danger" (click)="deleteUser(user)">删除</button>
              </td>
            </tr>
            </tbody>
            <tfoot>
            </tfoot>
          </table>
          <div id="Pagination"></div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
      </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>

<!-- <div [hidden]=true>
    <button id="mybutton" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">开始演示模态框</button>
</div> -->
<!-- 模态框（Modal） -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:500px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">编辑信息</h4>
            </div>
            <div class="modal-body">
              <div class="form-group" style="height:5px">
                <label for="editusername" class="col-sm-3 control-label">用户名：</label>

                <div class="col-sm-9" style="margin-top:-8px">
                  <input type="email" class="form-control" id="editusername" placeholder="用户名" name="editusername" [(ngModel)]="editUser.userName">
                </div>
              </div>
              <!-- <div class="form-group" style="height:30px">
                <label for="editpassword" class="col-sm-2 control-label">密&emsp;码：</label>

                <div class="col-sm-8" style="margin-top:-8px">
                  <input type="email" class="form-control" id="editpassword" placeholder="密码" name="editpassword" [(ngModel)]="editUser.password">
                </div>
              </div> -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="closeEditView">关闭</button>
                <button type="button" class="btn btn-primary" (click)="saveEdit()">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- 添加页面 -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width:500px">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">添加信息</h4>
            </div>
            <div class="modal-body">
              <div class="form-group" style="height:5px">
                <label for="addusername" class="col-sm-4 control-label">用户名：</label>

                <div class="col-sm-8" style="margin-top:-8px">
                  <input type="email" class="form-control" id="addusername" placeholder="用户名" name="addusername" [(ngModel)]="addUser.userName">
                </div>
              </div>
              <div class="form-group" style="height:5px;margin-top:40px">
                <label for="addpassword" class="col-sm-4 control-label">密&emsp;码：</label>

                <div class="col-sm-8" style="margin-top:-8px">
                  <input type="email" class="form-control" id="addpassword" placeholder="密码" name="addpassword" [(ngModel)]="addUser.password">
                </div>
              </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="closeAddView">关闭</button>
                <button type="button" class="btn btn-primary" (click)="saveAdd()">保存</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>



